<main>
  <p-card styleClass="card-adjust">
    <br>
    <div class="grid justify-content-center">
      <h4>ALTERAR SENHA</h4>
    </div>
    <div class="p-d-flex p-jc-between">
      <div>
        <button pButton pRipple type="button" class="p-button-raised" icon="pi pi-caret-left" pTooltip="Voltar"
          tooltipPosition="top" routerLink="/usuarios"></button>
      </div>
    </div>
    <br>
    <form #f="ngForm" autocomplete="off" (ngSubmit)="alterarSenha(f)">
      <div class="grid  justify-content-center">
        <div class="col-12 md:col-6 lg:col-3">
          <h6>*Nova Senha</h6>
          <input pPassword type="password" name="senha" promptLabel="Digite sua senha" weakLabel="Fraco"
            mediumLabel="Médio " strongLabel="Forte" [(ngModel)]="usuario.senha" #senha="ngModel" minlength="6"
            maxlength="60" onfocus="this.removeAttribute('readonly');" required #pass>
          <span (click)="pass.type = pass.type =='password'?'text':'password'" class="pi pi-eye-slash field-icon"
            [ngClass]="(pass.type =='password')?'pi-eye-slash':'pi pi-eye'"></span>
          <app-message [control]="senha" error="required" text="Informe uma senha"></app-message>
          <app-message [control]="senha" error="minlength" text="Mínimo de 6 caracteres"></app-message>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <h6>*Confirmar Senha</h6>
          <input pInputText name="csenha" type="password" maxlength="60" ngValidateEqual="senha" minlength="6"
            [(ngModel)]="usuario.csenha" #csenha="ngModel" required #cpass>
          <span (click)="cpass.type = cpass.type =='password'?'text':'password'" class="pi pi-eye-slash field-icon"
            [ngClass]="(cpass.type =='password')?'pi-eye-slash':'pi pi-eye'"></span>
          <app-message [control]="csenha" error="required" text="Repita a senha"></app-message>
          <app-message [control]="csenha" error="minlength" text="Mínimo de 6 caracteres"></app-message>
          <div *ngIf="(csenha.dirty || csenha.touched) && csenha.invalid">
            <p class="p-message p-message-error" role="alert" *ngIf="csenha.hasError('notEqual') && senha.valid">
              As senhas não correspondem...
            </p>
          </div>
        </div>
      </div>
      <br>
      <p-footer>
        <div class="grid  justify-content-center mt-2">
          <div class="col-12 md:col-6 lg:col-4">
            <button pButton pRipple type="submit" label="Confirmar" icon="fas fa-save" [disabled]="f.invalid"
              class="p-button-raised p-button-success w-full"></button>
          </div>
        </div>
      </p-footer>
    </form>
  </p-card>
</main>