<main>
  <p-card styleClass="card-adjust p-mt-5 p-mx-3">
    <h4>EXAMES</h4>
    <div class="flex justify-content-between mb-2">
      <div class="flex justify-content-start mb-2">
        <div>
          <button pButton pRipple type="button" class="p-button-raised p-button-primary" icon="pi pi-plus"
            pTooltip="Novo" tooltipPosition="top" routerLink="/exames/novo"
            [disabled]="!auth.temPermissao('C_EXME')"></button>
        </div>
        <div>
          <button pButton pRipple type="button" class="p-button-raised ml-2" pTooltip="Atualizar" tooltipPosition="top"
            icon="pi pi-refresh" (click)="refresh()"></button>
        </div>
      </div>
      <div>
        <p-splitButton styleClass="p-button-primary" #ua label="Opções" icon="pi pi-cog"
          (onClick)="ua.onDropdownButtonClick(null)" [model]="items"></p-splitButton>
      </div>
    </div>

    <p-table #tabela [value]="exames" [columns]="cols" [globalFilterFields]="cols" selectionMode="single"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageTable" [rows]="10"
      styleClass="p-datatable-striped p-datatable-gridlines" [scrollable]="true" paginator="true"
      [currentPageReportTemplate]="messagePageReport">
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap">
          <div class="col-12 md:col-6 lg:col-2">
            <div class="col-12">
              <input class="responsivetable p-text-nowrap p-text-truncate" pInputText type="text"
                (input)="tabela.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisa Global"
                pTooltip="Pesquisa em todas colunas" tooltipPosition="top" />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="btnEditar">&nbsp;</th>
          <th *ngFor="let cols of columns" [pSortableColumn]="cols.field" [ngStyle]="{'min-width': cols.width}">
            {{cols.header}}
            <p-sortIcon [field]="cols.field"></p-sortIcon>
            <p-columnFilter [type]="cols.type" [field]="cols.field" display="menu" class="p-ml-auto"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-exame let-columns="columns" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td class="btnAcoes">
            <button pButton pRipple type="button" class="p-button-raised p-button-primary" 
            icon="pi pi-pencil"
              pTooltip="Editar" tooltipPosition="top" [disabled]="!auth.temPermissao('U_EXME')"
              [routerLink]="['/exames', exame.id]"></button>

            <button pButton pRipple type="button" class="p-button-raised p-button-primary ml-2 "
             icon="pi pi-search"
              pTooltip="Convênios" tooltipPosition="top" (click)="showConvenios(exame.id)"></button>
          </td>
          <td *ngFor="let cols of columns" [ngStyle]="{'min-width': cols.width}" tooltipPosition="top"
            pTooltip="{{rowData[cols.field] &&  cols.data ? (rowData[cols.field] | date: 'dd/MM/yyyy H:mm') :  rowData[cols.field]}}">
            <span class="p-column-title">{{cols.header}}:</span>
            {{ cols.data ? (rowData[cols.field]| date : cols.format) : rowData[cols.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Total de {{exames ? exames.length : 0 }} exame.
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td>
            <p class="emptyMessage">Nenhum registro encontrado...</p>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div>
          <button pButton pRipple class="p-button-raised  p-button-primary" icon="pi pi-times" label="Limpar Filtros"
            (click)="onClear()"></button>
        </div>
      </ng-template>
    </p-table>
  </p-card>

  <p-dialog header="Convênios" [(visible)]="displayExames" [modal]="true" [style]="{width: '80vw'}"
    [baseZIndex]="10000">
    <p-table [value]="itensConv" [columns]="colsConv">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="padding: 9px;" *ngFor="let colsConv of columns" [ngStyle]="{'width': colsConv.width}">
            {{colsConv.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-itens let-rowData let-columns="columns">
        <tr>
          <td style="padding: 9px;" *ngFor="let colsConv of columns" [ngStyle]="{'width': colsConv.width}">
            <span class="p-column-title">{{colsConv.header}}:</span>
            {{
            colsConv.currency ? (rowData[colsConv.field]| currency : colsConv.format): rowData[colsConv.field]
            &&
            colsConv.data ? (rowData[colsConv.field]| date : colsConv.format) : rowData[colsConv.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="6">
            <p class="emptyMessage">Nenhum registro encontrado...</p>
          </td>
        </tr>
      </ng-template>
      <p-footer></p-footer>
    </p-table>
  </p-dialog>
</main>