<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgb(26 188 156) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center">
          <div class="flex flex-wrap col-12 justify-content-center">
            <img class="noselection  w-15rem" src="assets/images/labsrad.png" alt="Logo LabsRad" width="100px" />
          </div>
        </div>
        <div class="md:w-30rem">
          <form #formLogin="ngForm" (keyup.enter)="EnterSubmit($event)">
            <div class="col-12">
              <label for="email" class="block text-900 text-xl font-medium mb-2">E-mail</label>
              <input id="email" name="email" type="email" pKeyFilter="email" placeholder=" Endereço de Email" pInputText
                [(ngModel)]="forgot.email" #email="ngModel" [required]="true" class="w-full" email>
              <app-message [control]="email" error="required" text="Informe um e-mail!"></app-message>
              <app-message [control]="email" error="email" text="Informe um e-mail válido"></app-message>
            </div>
            <div class="col-12">
              <button pButton pRipple label="Resetar" class="w-full text-xl" [disabled]="formLogin.invalid"
                (click)="resetPass(); forgot.email = ''"></button>
            </div>

            <br>
            <div class="grid flex justify-content-center mt-5 ml-2">
              <p class="cursor-pointer forgot" [routerLink]="['/login']"><i class="fa-solid fa-chevron-left"></i>Voltar
              </p>
            </div>
            <div *ngIf="loading" class="grid justify-content-center" style="margin-top: 10px">
              <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="6"
                animationDuration=".5s"></p-progressSpinner>
            </div>
<!-- 
            <div class="col-12">
              <p-messages class="message-toast" [(value)]="messages" [enableService]="false"
                [closable]="false"></p-messages>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>