@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1abc9c;
  margin-left: 0;
  margin-top: 0x;
  left: 0rem;
  top: 0rem;
}

:host ::ng-deep .p-card {
  background: #ecf0f1;
  border-radius: 0.625rem;
  margin: 0.625rem;
  box-shadow: 0.625rem 0.625rem 0.9375rem -0.3125rem rgba(0, 0, 0, 0.75);
}

@media (max-width: 119.9375rem) {
  .div {
    background-size: contain;
  }
}

@media (max-width: 119.9375rem) {
  .div {
    background-size: contain;
  }
}

.field-icon {
  float: right;
  left: -0.9375rem;
  margin-top: -1.5625rem;
  position: relative;
  z-index: 2;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

:host ::ng-deep .p-button.p-button-raised {
  box-shadow: none;
}


footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #6c757d;
  ;
  margin: auto;
}

.cursorpointer {
  color: #ced4da;
}

.label-login {
  font-size: 0.8125rem;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  margin: 0rem;
  margin-left: 0.9375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}