<main>
  <p-card styleClass="card-adjust">
    <h4>{{ editando ? 'EDIÇÃO DE' : 'CADASTRO DE'}} PATRIMÔNIO</h4>
    <div class="flex justify-content-start mb-2">
      <div>
        <button pButton pRipple type="button" class="p-button-raised" icon="pi pi-caret-left" pTooltip="Voltar"
          tooltipPosition="top" routerLink="/patrimonios"></button>
      </div>
    </div>
    <br>
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="grid justify-content-center">
        <div class="col-12 md:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Descrição</h6>
          <!--TODO Forma de input uppercase sem diretiva -->
          <input oninput="this.value = this.value.toUpperCase()" pInputText name="descricao" type="text"
            [pKeyFilter]="regex.string" [(ngModel)]="patrimonio.descricao" #descricao="ngModel" required minlength="3">
          <app-message [control]="descricao" error="required" text="Informe a descrição"></app-message>
          <app-message [control]="descricao" error="minlength"
            text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Valor</h6>
          <p-inputNumber name="precout" [pKeyFilter]="regex.number" [(ngModel)]="patrimonio.valor" #valor="ngModel"
            prefix="R$ " mode="decimal" [minFractionDigits]="2" currency="BRL" locale="pt-BR" placeholder="R$ 0.00">
          </p-inputNumber>
          <app-message [control]="valor" error="required" text="Informe o valor"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Data Aquisição</h6>
          <p-calendar styleClass="w-full" name="dataaquisicao" showButtonBar="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="1910:2030" dateFormat="dd/mm/yy" [(ngModel)]="patrimonio.dataaquisicao"
            #dataaquisicao="ngModel" [showIcon]="true" required></p-calendar>
          <app-message [control]="dataaquisicao" error="required" text="Informe a data aquisição"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Empresa</h6>
          <p-dropdown styleClass="dropdown" name="convenio" filter="true" [autoDisplayFirst]="false"
            [options]="empresas" [(ngModel)]="patrimonio.empresa.id" [showClear]="true" placeholder="Selecione..."
            [emptyFilterMessage]="messageDrop" [virtualScroll]="true" itemSize="30" appendTo="body"
            [baseZIndex]="99999999" required>
          </p-dropdown>
        </div>
      </div>
      <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
          <h6>Status</h6>
        </div>
      </div>
      <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
          <p-inputSwitch [(ngModel)]="patrimonio.status" name="status" [ngModelOptions]="{standalone: true}"
            binary="true">
          </p-inputSwitch>
        </div>
      </div>
      <br>
      <div class="flex flex-wrap justify-content-center">
        <div class="col-12 md:col-6 lg:col-2">
          <button pButton pRipple type="submit" label="Salvar" icon="fas fa-save" [disabled]="f.invalid || salvando"
            class="p-button-raised p-button-primary w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <button pButton pRipple type="button" class="p-button-outlined p-button-primary w-full" icon="fas fa-trash"
            pTooltip="Excluir" tooltipPosition="top" [disabled]="!auth.temPermissao('D_PAT') || !editando"
            (click)="confirmarExclusao()" label="Excluir"></button>
        </div>
      </div>
      <div *ngIf="salvando" class="grid justify-content-center mt-4">
        <div class="grid col-12 justify-content-center">
          <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
            animationDuration=".5s">
          </p-progressSpinner>
        </div>
        <div class="grid col-12 justify-content-center">
          <h6>Salvando aguarde...</h6>
        </div>
      </div>
    </form>
  </p-card>
</main>