<main>
    <p-card styleClass="card-adjust p-mt-5 p-mx-3">
        <h4>EMPRESAS</h4>
        <div class="flex justify-content-between mb-2">
            <div class="flex justify-content-start mb-2">
                <div>
                    <!--FIXME trocar permissao -->
                    <button pButton pRipple type="button" class="p-button-raised p-button-primary" icon="pi pi-plus"
                        pTooltip="Novo" tooltipPosition="top" routerLink="/empresas/novo"
                        [disabled]="!auth.temPermissao('C_CONV')"></button>
                </div>
                <div>
                    <button pButton pRipple type="button" class="p-button-raised p-button-primary ml-2"
                        pTooltip="Atualizar" tooltipPosition="top" icon="pi pi-refresh" (click)="refresh()"></button>
                </div>
            </div>
            <div>
                <p-splitButton styleClass="p-button-primary" #ua label="Opções" icon="pi pi-cog"
                    (onClick)="ua.onDropdownButtonClick(null)" [model]="items"></p-splitButton>
            </div>
        </div>
        <p-table #tabela [columns]="cols" [value]="empresas" [globalFilterFields]="cols"
            [rowsPerPageOptions]="rowsPerPageTable" [showCurrentPageReport]="true" selectionMode="single"
            [scrollable]="true" [rowHover]="true" [rows]="10" paginator="true"
            styleClass="p-datatable-striped p-datatable-gridlines" [currentPageReportTemplate]="messagePageReport">

            <ng-template pTemplate="caption">
                <div class="flex flex-wrap">
                    <div class="col-12 md:col-6 lg:col-2">
                        <div class="col-12">
                            <input class="responsivetable p-text-nowrap p-text-truncate" pInputText type="text"
                                (input)="tabela.filterGlobal($event.target.value, 'contains')"
                                placeholder="Pesquisa Global" pTooltip="Pesquisa em todas colunas"
                                tooltipPosition="top" />
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="btnEditar">&nbsp;</th>
                    <th *ngFor="let cols of columns" [pSortableColumn]="cols.field"
                        [ngStyle]="{'min-width': cols.width}" pReorderableColumn>
                        {{cols.header}}
                        <p-sortIcon [field]="cols.field"></p-sortIcon>
                        <p-columnFilter [type]="cols.type" [field]="cols.field" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empresa let-columns="columns" let-rowData>
                <tr class="ui-selectable-row" [pSelectableRow]="rowData">
                    <td class="btnEditar">
                        <button pButton pRipple type="button" class="p-button-text p-button-primary" icon="fas fa-pen"
                            pTooltip="Editar" tooltipPosition="top" [routerLink]="['/empresas', empresa.id]"
                            [disabled]="!auth.temPermissao('U_CONV') || !empresa.editar"></button>
                    </td>
                    <td *ngFor="let cols of columns" [ngStyle]="{'min-width': cols.width}" pReorderableColumn pTooltip="{{rowData[cols.field] &&  cols.status ? (rowData[cols.field] ? 'Ativo' : 'Inativo'): rowData[cols.field]
                         &&  cols.data ? (rowData[cols.field] | date: 'dd/MM/yyyy H:mm') :  rowData[cols.field] }}"
                        tooltipPosition="top">
                        <span class="p-column-title">{{cols.header}}:</span>
                        <!-- TODO método para formatar status direto pelo html -->
                        {{
                        cols.status ? (rowData[cols.field] ? 'Ativo' : 'Inativo'): rowData[cols.field]
                        &&
                        cols.data ? (rowData[cols.field]| date : cols.format) : rowData[cols.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr [hidden]="noRecords">
                    <td colspan="10">
                        <p class="emptyMessage">Nenhum registro encontrado...</p>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div>
                    <button pButton pRipple class="p-button-raised p-button-primary" icon="pi pi-times"
                        pTooltip="Limpar Filtros" tooltipPosition="top" label="Limpar Filtros"
                        (click)="onClear()"></button>
                </div>
            </ng-template>
        </p-table>
    </p-card>
</main>